@using BlogBounty.Models.TopicViewModels
@model ViewTopicViewModel

@{
    ViewBag.Title = "View topic";
    Layout = "_Layout";
}

<h2>View topic</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <form asp-controller="Topic"
                          asp-action="Vote"
                          asp-route-id="@Model.Topic.Id"
                          method="post"
                          class="form-horizontal">
                        <div class="col-sm-12">
                            @Model.Topic.Title
                            @foreach (var tag in Model.Topic.Tags)
                            {
                                <span class="label label-info">@tag</span>
                            }
                            <span class="pull-right">
                                <button class="btn btn-primary" type="submit">
                                    @(Model.UserHasVoted ? "Downvote" : "Upvote")
                                    <span class="badge">
                                        <span class="glyphicon glyphicon-triangle-top"></span>
                                        @Model.Topic.NumberOfUpvotes
                                    </span>
                                </button>
                            </span>
                            <input type="hidden" name="userHasVoted" value="@(Model.UserHasVoted.ToString())" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel-body">
                <p>@Model.Topic.Description</p>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_NewComment", new NewCommentViewModel() { TopicId = Model.Topic.Id })

@foreach (var comment in Model.Comments)
{
    Html.RenderPartial("_Comment", comment);
}