@using BlogBounty.ViewComponents
@model BlogBounty.Models.HomeViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <h4>
            Find inspiration for a blog topic.
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <form asp-controller="Home"
                      asp-action="Index"
                      method="post"
                      class="form-inline"
                      id="search-form">

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </div>
                            <input class="form-control" type="text" placeholder="Search..." id="Filter" name="Filter" value="@Model.SearchModel.Request.Filter"/>
                        </div>
                    </div>

                    <div class="form-group">
                    @if (!string.IsNullOrEmpty(Model.SearchModel.Request.Tag))
                    {
                        @Html.Partial("_Tag", Model.SearchModel.Request.Tag)
                    }
                    </div>
                    <input id="Tag" name="Tag" type="hidden" value="" />
                    <div class="form-group">
                    @if (Model.CanReset)
                    {
                        <a asp-action="Index" asp-controller="Home">Reset</a>
                    }
                    </div>

                    <div class="form-group">
                        <div>
                            <button class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="list-group">
            @foreach (var topic in Model.SearchModel.Topics)
            {
                <div class="list-group-item">
                    <a asp-controller="Topic"
                        asp-action="View"
                        asp-route-id="@topic.Id">
                        @topic.Title
                    </a>
                    @foreach (var tag in topic.Tags)
                    {
                        @Html.Partial("_Tag", tag)
                    }
                    <span class="badge">
                        <span class="glyphicon glyphicon-triangle-top"></span>
                        @topic.NumberOfSubscriptions
                    </span>
                </div>
            }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var onTagClick = function (tag) {
            $("#Tag").val(tag);
            $("#search-form").submit();
        }

        $("#Filter").typeahead({
            onSelect: function (item) {
                console.log(item);
                onTagClick(item.text);
            },
            ajax: {
                url: "/Search/Tags",
                timeout: 250,
                displayField: "value",
                triggerLength: 1,
                method: "get",
                loadingClass: "loading-circle",
                preDispatch: function (query) {
                    return {
                        filter: query
                    }
                },
                preProcessing: function (item) {
                    console.log(item);
                }
            }

        })
    </script>
}