@model BlogBounty.Models.HomeViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
<h2>@ViewData["Title"].</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="container">
            <div class="list-group">
            @foreach (var topic in Model.Topics)
            {
                <a class="list-group-item"
                   asp-controller="Topic"
                   asp-action="View"
                   asp-route-id="@topic.Id">
                    @topic.Title
                @foreach (var tag in topic.Tags)
                {
                    <span class="label label-info">@tag</span>
                }
                    <span class="badge">
                        <span class="glyphicon glyphicon-triangle-top"></span>
                        @topic.NumberOfSubscriptions
                    </span>
                </a>
            }
            </div>
        </div>
    </div>
</div>